@charset "ISO-8859-1";


Body{
	
	background-color: #fff6f8;
	padding:90px;
	padding-top: 0px;
}

.formel {
	background-color: green;
	background-size: auto;
	background-repeat:no-repeat;
	padding: 4 px;
	border : 4 px;
}

.main {
	padding: 10px;
	background-color: white;
	z-index: 1;
	position: relative;
	margin: 0 auto;
	display: block;
	
}

mark {
	background-color: green;
}

.bigpic{
	margin: 5px auto;
	padding: 20px;
	/* text-align: center; */
	float:right;
	width: 200px;
	padding-bottom: 0px;
}

.menu {
	position: -webkit-sticky;
	position: fixed;
	top:0;
	z-index: 0;
	padding-left:5px;
	
}

.submenu{
	text-align: left;
	width:70px;
	padding: 8px;
	margin-left: -100px;
	border: thin;
	border-style: solid;
	z-index: 0;
	background-color:#ffb3d9;
	opacity: 50%;
	
}

.center{
text-align:center;
}

.centerchild{
	text-align:left;
	display: inline-block;
}

.centerchild2{
	text-align:left;
	display: inline-block;
}

a:link {
	
    color: grey;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:active {
	color:grey;
}
.currentLink {
   color: #640200;
   background-color: #000000;
}
